body {
	background: url(../images/main-bg.jpg);
	background-size: cover;
}

.main-header {
	color: yellow;
	font-size: 3em;
	float: right;
	margin: 5vh 10vw 0 0;
}
.character-div, .enemy-div {
	height: 35vh;
}

.character-box {
	border: green solid 3px;
	width: 15vw;
	height: 30vh;
	float: left;
	margin: 0 0 0 1vw;
	background-color: #fff;
	text-align: center;
}

.character-box h1 {
	color: #fff;
	font-size: 1em;
	display: block;
}

.health {
	margin-top: .6vh;
	font-size: 1.2em;
}

.character-box img {
	height: 80%;
	width: 90%;
}

.character-header {
	color: yellow;
	font-size: 2em;
	margin: 2vh 0 2vh 3vw;
}

.hero-div {
/*	height: 30vh;
*/}

.enemies .character-box {
	background-color: red;
	border: yellow solid 2px;
}

.enemy-header {
	color: yellow;
	font-size: 2em;
	margin: 35vh 0 2vh 3vw;
}

.enemies {
	margin-top: 2vh;
}

.enemy {
	background-color: red;
	border: yellow solid 2px;
}

.attack-button {
	background-color: #aaa;
	color: #000;
	margin: 0 0 0 30vw;
	font-size: 2em;
	width: 15vw;
	height: 5vh;
}

